.logo{
    height: 240px;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: auto;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
font-size: 17px;
}

@media screen and (max-width: 600px){
}

.topnav a, .topnav input[type=search]{
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
}

.icon-bar{
    width: auto ; /* Full-width */
    background-color:content; 
    overflow: auto; /* Overflow due to float */
}
.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: #1a855ef3; /* Add a hover color */
  }
  
  .active {
    background-color: #1a855ef3; /* Add an active/current color */
  }

  .menu{
    display: flex;
    align-items: center;
  }

  .nav ul, nav li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul{
    display: flex;
}

nav a{
    text-decoration: none;
    padding: 15px;
    color: #0a0a00;
    display: block;
}
nav .active, nav a:hover{
    color:rgb(15, 13, 13);
}

  
.row:after {
    content: "";
    display: table;
    clear: both;
    display: flex;
    text-align: center;
  }

body{
background-color: bisque;
}
